body {
    font-family: Verdana;
    background-color: brown;
}
h1, h2 {
    color: antiquewhite;
}
header {
    margin-bottom: 20px;
}
form {
    max-width: 400px;
    margin: 0 auto; 
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
button:hover {
    background-color: #0069d9;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
